.banner {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Fuggles', cursive;
}

.banner:hover {
  background-color: #0056b3;
}

.message {
  font-size: 36px;
}

.form-block {
  padding: 5px;
}
