<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="message">{{ .message }}</div>
    </div>
    <script type="text/javascript">
      setTimeout(function () {
        window.location.href = "{{ .location }}";
      }, 5000);
    </script>
  </body>
</html>
